<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMS | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="/">UMS</a></li>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
    {% if message_success%}
    <h1 class="success">{{message_success}}</h1>
    {% endif %}
    <header>
        <h1>Welcome to the University Management System</h1>
        <p>Your one-stop solution for managing university operations efficiently.</p>
    </header>

    <section>
        <h2>Introduction</h2>
        <p>The University Management System (UMS) is designed to efficiently manage various aspects of a university's
            operations, including student enrollment, faculty details, course management, exams, fee payments, and
            results processing. The system ensures data integrity, reduces redundancy, and improves administrative
            efficiency by organizing university-related data in a structured and secure manner.</p>
        <p>This system is database-driven, making it easier for universities to manage academic records, track student
            progress, and streamline administrative processes. It is essential for maintaining accurate student and
            faculty records, ensuring smooth examination processes, and managing financial transactions related to
            tuition and fees.</p>
    </section>

    <section>
        <h2>Problem Statement</h2>
        <p>Managing academic and administrative tasks manually in universities is inefficient, time-consuming, and
            error-prone. Traditional record-keeping methods using paper or scattered digital files often lead to data
            redundancy, loss of information, and difficulty in accessing student records, course details, and financial
            transactions.</p>
        <p>This project aims to develop a University Management System to address these challenges by providing a
            centralized, automated, and secure platform for managing various university operations.</p>
        <ul>
            <li>Student and Course Management: Manual course registration and student enrollment can lead to scheduling
                conflicts, data loss, and inefficiencies. The system will allow students to enroll in courses, view
                their results, and pay fees seamlessly.</li>
            <li>Faculty and Department Management: Universities require efficient faculty assignment and department
                coordination. The system will provide a structured way for faculty to manage courses, conduct exams, and
                belong to specific departments.</li>
            <li>Administrative Efficiency: Without a centralized system, handling student records, fee payments, exam
                scheduling, and result processing can be overwhelming. The system will allow admin users to manage all
                operations smoothly.</li>
        </ul>
    </section>

    <section>
        <h2>Objectives</h2>
        <ul>
            <li>To develop a centralized system that efficiently manages student, faculty, course, and administrative
                data.</li>
            <li>To automate university processes such as course enrollment, fee payment, exam management, and result
                processing.</li>
            <li>To enhance accessibility and security by providing role-based access to students, faculty, and
                administrators.</li>
            <li>To minimize manual errors and redundancy by implementing a structured database-driven approach.</li>
            <li>To improve decision-making by providing quick access to student records, exam results, and financial
                transactions.</li>
            <li>To create a scalable and reliable system that can handle an increasing number of students, courses, and
                faculty members over time.</li>
            <li>To provide an intuitive and user-friendly interface for efficient interaction with the system.</li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2025 University Management System. Developed and Designed by Sajid Miya. All rights reserved.</p>

    </footer>
</body>

</html>