<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register_style.css')}}">
    <style>

    </style>
    <title>UMS | Home</title>
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="#">UMS</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="SignIn.html" class="active">Sign In/Sign Up</a></li>
        </ul>
    </nav>
    <div class="registration">
        <div>
            <label for="userType">Select User Type</label>
            <select name="userType" id="userType" onchange="toggleForm()">
                <option value="" disabled selected>Select User Type</option>
                <option value="student">Student</option>
                <option value="faculty">Faculty</option>
            </select>
        </div>
        <div id="studentForm" style="display: none;">
            <form action="/register" method="POST">
                <input type="hidden" name="userType" id="studentUserType" value="">
                <div>
                    <label for="firstname">Name</label>
                    <div>
                        <input type="text" name="firstname" id="studentFirstname" placeholder="Firstname">
                        <input type="text" name="middlename" id="studentMiddlename" placeholder="Middlename">
                        <input type="text" name="lastname" id="studentLastname" placeholder="Lastname">
                    </div>
                </div>
                <div>
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" id="dob">
                </div>
                <div>
                    <label for="gender">Gender</label>
                    <select name="gender">
                        <option value="" selected>Select gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div>
                    <label for="address">Address</label>
                    <div>
                        <input type="text" name="street" id="street" placeholder="Street">
                        <input type="text" name="district" id="district" placeholder="district">
                        <input type="text" name="state" id="state" placeholder="State">
                        <input type="text" name="country" id="country" placeholder="Country">
                    </div>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="studentEmail" placeholder="Email">
                </div>
                <div>
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="studentPhone" placeholder="Phone Number">
                </div>
                <div>
                    <button type="submit">Register as Student</button>
                </div>
            </form>
        </div>
        <div id="facultyForm" style="display: none;">
            <form action="/register" method="POST">
                <input type="hidden" name="userType" id="facultyUserType" value="">
                <div>
                    <label for="name">Name</label>
                    <div>
                        <input type="text" name="firstname" id="firstname" placeholder="Firstname">
                        <input type="text" name="middlename" id="middlename" placeholder="Middlename">
                        <input type="text" name="lastname" id="lastname" placeholder="Lastname">
                    </div>
                </div>
                <div>
                    <label for="facultyCourseName">Course</label>
                    <div style="display: flex; gap: 10px;">
                        <select name="facultyCourseName" id="facultyCourseName" style="flex: 1;"
                            onchange="syncCourseID()">
                            <option value="" selected disabled>Select Course Name</option>
                            {%for course in courses %}
                            <option value="{{course[0]}}">{{course[0]}}</option>
                            {%endfor%}
                            <!-- Add more courses as needed -->
                        </select>
                        <select name="facultyCourseID" id="facultyCourseID" style="flex: 1;"
                            onchange="syncCourseName()">
                            <option value="" selected disabled>Select Course ID</option>
                            {%for course in courses %}
                            <option value="{{course[1]}}">{{course[1]}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div>
                    <label for="facultyDepartmentName">Department</label>
                    <div style="display: flex; gap: 10px;">
                        <select name="facultyDepartmentName" id="facultyDepartmentName" style="flex: 1;"
                            onchange="syncDepartmentID()">
                            <option value="" selected disabled>Select Department Name</option>
                            {%for department in departments %}
                            <option value="{{department[0]}}">{{department[0]}}</option>
                            {%endfor%}
                        </select>
                        <select name="facultyDepartmentID" id="facultyDepartmentID" style="flex: 1;"
                            onchange="syncDepartmentName()">
                            <option value="" selected disabled>Select Department ID</option>
                            {%for department in departments %}
                            <option value="{{department[1]}}">{{department[1]}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div>
                    <label for="facultyPhone">Phone Number</label>
                    <input type="text" name="phone" id="facultyPhone" placeholder="Phone Number">
                </div>
                <div>
                    <label for="Designation">Designation</label>
                    <select name="Designation" id="Designation">
                        <option value="" selected disabled>Select</option>
                        <option value="Professor">Professor</option>
                        <option value="Teaching">Teaching Assistant</option>
                        <option value="Lab Assistant">Lab Assistant</option>
                    </select>
                </div>
                <div>
                    <button type="submit">Register as Faculty</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function toggleForm() {
            var userType = document.getElementById('userType').value;
            var studentForm = document.getElementById('studentForm');
            var facultyForm = document.getElementById('facultyForm');
            var studentUserType = document.getElementById('studentUserType');
            var facultyUserType = document.getElementById('facultyUserType');
            if (userType === 'student') {
                studentForm.style.display = 'block';
                facultyForm.style.display = 'none';
                studentUserType.value = 'student';
            } else if (userType === 'faculty') {
                studentForm.style.display = 'none';
                facultyForm.style.display = 'block';
                facultyUserType.value = 'faculty';
            } else {
                studentForm.style.display = 'none';
                facultyForm.style.display = 'none';
                studentUserType.value = '';
                facultyUserType.value = '';
            }
        }
        function syncCourseID() {
            var courseName = document.getElementById('facultyCourseName').value;
            var courseID = document.getElementById('facultyCourseID');
            {%for course in courses %}
            if (courseName === '{{course[0]}}') {
                courseID.value = '{{course[1]}}';
            }
            {% endfor %}
        }

        function syncCourseName() {
            var courseID = document.getElementById('facultyCourseID').value;
            var courseName = document.getElementById('facultyCourseName');
            {%for course in courses %}
            if (courseID === '{{course[1]}}') {
                courseName.value = '{{course[0]}}';
            }
            {% endfor %}
        }

        function syncDepartmentID() {
            var departmentName = document.getElementById('facultyDepartmentName').value;
            var departmentID = document.getElementById('facultyDepartmentID');
            {%for department in departments %}
            if (departmentName === '{{department[0]}}') {
                departmentID.value = '{{department[1]}}';
            }
            {% endfor %}
        }

        function syncDepartmentName() {
            var departmentID = document.getElementById('facultyDepartmentID').value;
            var departmentName = document.getElementById('facultyDepartmentName');
            {%for department in departments %}
            if (departmentID === '{{department[1]}}') {
                departmentName.value = '{{department[0]}}';
            }
            {% endfor %}
        }

    </script>
</body>

</html>