body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.nav ul li {
    list-style: none;
    margin-right: 20px;
}

.nav ul li:first-child {
    margin-right: auto;
}

a {
    color: white;
    text-decoration: none;
}

.active {
    color: burlywood;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.5%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: turquoise;
}
.signup input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.main-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
}